* {
    box-sizing: border-box;
}

header{
    background-color: #EAC926;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
}

footer{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

main{
    width: 90%;
    margin: auto;
}

.anuncio{
    width: 100%;
}

.img-log{
    width: 50%;
}

.titulo-barra{
    text-align: center;
}

.text-oferta{
    display: flex;
    justify-content: center
}

.section-oferta{
    display: inline;
    justify-content: center;
    text-align: center;
    width: 33%;
    margin-top: 15px;
}

.regalo-oferta{
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;   
}

.seguriti-oferta{
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

.copyrigth{
    width: 100%;
    justify-content: center;
    text-align: center;
}

.principal_title{ 
    font-weight: 400;
    text-align: center;
}

.busqueda {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 5px;
}
.menu{
    border-radius: 8px;
    background-color:#1259c3;
    font-size: 2em;
    width: 50px;
    padding: 15px 0;
    color: white;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

li{
    font-size: 12px;
}


.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 18px;
}


.imagenes{
    border-bottom: dashed#ebebeb;
    width: 100%;
}

.div-article{
    border-top: solid 1px #ebebeb;
    margin-bottom: 10px;
    border: 15px;
    background-color: white;
    box-sizing: border-box;
    position: relative;
}

.botton{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: -84%;
    top: -30px;
    position: relative;
    transition: transform 0.3s;
}

.descrip-product{
    margin-top: 1px;
    margin-left: 1rem;
}

p{
    font-size: 12px;
}

.tarjeta{
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.header-h{
    display: flex;
    flex-wrap: wrap;
}


@media (min-width: 361px){
    .header-h{
        font-size: small;
        text-align: center;
        justify-content: center;
    }
    .principal_title{
        display: flex;
        text-align: center;
    }
    .menu{
        display: none;
    }
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .nav li{
        margin: 0 5px;
    }
    section{
        display: flex;
        flex-wrap: wrap;
    }
    .div-article{
        width: 45%;
        margin: 5px;
    }
}
@media (min-width: 768px){
    .header-h, .nav{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .nav{
        display: flex;
    }
    .ul-left{
        display: flex;
        justify-content: space-between;
    }
    .nav li{
        margin: 0 10px;
    }
    .nav a{
        font-size: 20px;
    }
    section{
        display: flex;
        flex-wrap: wrap;
    }
    .div-article{
        width: 23%;
    }
}
@media (max-width: 360px){
    .nav{
        display: none;
    }
}
