
body{
    font-family: "Roboto", sans-serif;
}

.bg-yellow{
    background-color: #EAC926;
}

.bg-light-grey{
    background-color: #ebebeb;
}

.Oscuro-grey{
    background-color : #000000;
}

.p-1{
    padding:12px;
}

.p-2{
    padding:24px;
}

.p-3{
    padding:18px;
}

.p-4-doble{
    padding:16px;
}
