
body{
    font-family: "Roboto", sans-serif;
}

.bg-yellow{
    background-color: #EAC926;
}

.bg-light-grey{
    background-color: #ebebeb;
}

.bg-white{
    background-color : white;
}

.Oscuro-grey{
    background-color : #000000;
}

.p-1{
    font-size:12px;
}

.p-2{
    font-size:24px;
}

.p-3{
    font-size:18px;
}

.p-4-doble{
    font-size:16px;
}

.menu{
    font-size: 2em;
    padding-left:130px;
}

.sepa-infe{
    margin:10px;
}

.sepa-izquier{
    padding-left:40px;
}

.vw-90{
 width:90vw;   
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.border-1p{
    border-top-style: solid;
    border-top-width: 1px;
}

.border-grey{
    background-color :#ebebeb;
}

/* tablet */
@media(min-width:520px){
    /* esconder descripcion */
    .md-product-shadow{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
} 

/* desktop */
@media(min-width:1280px){
    
} 
