<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/styles.css" />

    <title>mercado liebre</title>

</head>

<body class="bg-light-grey">
    <header class="bg-yellow">

             <h1 class="p-4-doble">
             <img src="images/logo-mercado-liebre.svg" alt="logo-mercado-liebre.svg">
             </h1>

             <p> barra de busqueda <i class="fa-solid fa-magnifying-glass"></i> </p> 

             <div>
                <p> <i class="fa-solid fa-hand-holding-dollar"></i>  compra en cuotas y sin tarjeta de credito </p>
             </div>        

         <nave>
           
             <ul>  

                <li><a>ofertas: </a></li>
                <li><a>tiendas oficiales:</a></li>
                <li><a>vender:</a></li>
                <li><a>ayuda:</a></li>

             </ul>

             <ul> 
               
                <li><a>crea tu cuenta <i class="fa-regular fa-id-card"></i> </a></li>
                <li><a>ingresa <i class="fa-solid fa-right-to-bracket"></i> </a></li>
                <li><a>mis compras <i class="fa-solid fa-basket-shopping"></i> </a></li>

             </ul>

                 <div> 
                    <p class="menu sepa-infe"><i class="fa-solid fa-rectangle-list" style="color: #0008fa;"></i> </p>
                 </div>

         </nave>

    </header>

    <main class="vw-90 mx-auto">

       <section>

                     <h3 class="p-2"> 
                        ● Sección: Basado en tu última visita
                     </h3> 

             <article class=" sepa-infe bg-white md-product-shadow">

                     <div>
                        <h4>Cafetera Moulinex</h4>
                     </div>

                    <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" height="283"/> 

                    <div class="border-1p bg-white">
                     <i class="fa-solid fa-truck sepa-infe"  style="color: #12de3b;"></i>
                    <li><a class="p-3"> valor: $ 6.770 </a></li>
                    <li><a class="p-4-doble"> descuento:  40% off </a></li>
                    </div>

             </article>

             <article  class=" sepa-infe  bg-white md-product-shadow ">

                     <div>
                        <h4>MacBook Pro 2019</h4>
                     </div>

                    <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019"height="283"/> 

                     <div class="border-1p  bg-white ">
                        <i class="fa-solid fa-truck sepa-infe"  style="color: #12de3b;"></i>
                        <li><a class="p-3"> valor: $230.000 </a></li>
                        <li><a class="p-4-doble"> descuento:  20% off </a></li>
                     </div>
    
             </article>

             <article  class=" sepa-infe  bg-white md-product-shadow ">

                    <div>
                        <h4>Samsung Galaxy S10</h4>
                    </div>

                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" height="283"/> 
                    
                     <div class="border-1p  bg-white ">
                        <i class="fa-solid fa-truck sepa-infe"  style="color: #12de3b;"></i>
                        <li><a class="p-3"> valor: $70.500 </a></li>
                        <li><a class="p-4-doble"> descuento:  10% off </a></li>
                     </div>
    
             </article>

             <article  class=" sepa-infe bg-white md-product-shadow">

                     <div>
                        <h4>SmartTv Samsung 43</h4>
                     </div>

                    <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" height="283"/> 
                    
                    <div class="border-1p  bg-white ">
                        <i class="fa-solid fa-truck sepa-infe"  style="color: #12de3b;"></i>
                        <li><a class="p-3"> valor: $23.200 </a></li>
                        <li><a class="p-4-doble"> descuento:  05% off </a></li>
                    </div>
                   
             </article>

                     <h3 class="p-2"> 
                        ●  Sección de Ofertas
                     </h3> 

             <article  class=" sepa-infe bg-white md-product-shadow ">

                     <div>
                        <h4>Cafetera Moulinex</h4>
                     </div>

                    <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" height="283"/> 

                     <div class="border-1p  bg-white ">
                        <i class="fa-solid fa-truck sepa-infe"  style="color: #12de3b;"></i>
                        <li><a class="p-3"> valor: $ 6.093 </a></li>
                        <li><a class="p-4-doble"> descuento:  50% off </a></li>
                     </div>

             </article>

             <article  class=" sepa-infe bg-white md-product-shadow">

                     <div>
                        <h4>MacBook Pro 2019</h4>
                     </div>

                    <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" height="283"/> 
                    
                    <div class="border-1p  bg-white ">
                        <i class="fa-solid fa-truck sepa-infe"  style="color: #12de3b;"></i>
                        <li><a class="p-3"> valor: $184.000 </a></li>
                        <li><a class="p-4-doble"> descuento:  40% off </a></li>
                     </div>

             </article>

             <article  class=" sepa-infe bg-white md-product-shadow">

                     <div>
                        <h4>Samsung Galaxy S10</h4>
                     </div>

                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" height="283"/> 
                    
                     <div class="border-1p  bg-white ">
                        <i class="fa-solid fa-truck sepa-infe"  style="color: #12de3b;"></i>
                        <li><a class="p-3"> valor: $59.925 </a></li>
                        <li><a class="p-4-doble"> descuento:  25% off </a></li>
                     </div>

             </article>

             <article  class=" sepa-infe bg-white md-product-shadow">

                     <div>
                        <h4>SmartTv Samsung 43</h4>
                     </div>

                    <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" height="283"/> 
                    
                    <div class="border-1p  bg-white ">
                        <i class="fa-solid fa-truck sepa-infe"  style="color: #12de3b;"></i>
                        <li><a class="p-3"> valor: $20.880 </a></li>
                        <li><a class="p-4-doble"> descuento: 15% off </a></li>
                     </div>

             </article>

       </section>

       <section>

             <article>
                     <div> 
                         <p class="menu"> <i class="fa-solid fa-credit-card" style="color: #0008ff;"></i> </p>
                     </div>

                     <div class="p-4-doble sepa-izquier sepa-infe">
                         <h3>● Pagá con tarjeta o en efectivo</h3> 

                         <p> Con Mercado Liebre Cash, tenés cuotas sin
                            interés con tarjeta o efectivo en puntos de
                             pago.¡Y siempre es seguro!</p>
                     </div>
             </article>

             <article>
                     <div> 
                         <p class="menu"> <i class="fa-solid fa-gift" style="color: #1d08f5;"></i> </p>
                     </div>

                     <div class="p-4-doble sepa-izquier sepa-infe">
                         <h3>●Envío gratis desde $ 2.500</h3> 
    
                         <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                         productos. Es un beneficio de Mercado Puntos.</p>
                     </div>
             </article>

             <article>
                     <div> 
                        <p class="menu"> <i class="fa-solid fa-user-shield" style="color: #0008ff;"></i> </p>
                     </div>


                     <div class="p-4-doble sepa-izquier sepa-infe">
                         <h3>●Seguridad, de principio a fin</h3> 
    
                         <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                          porque estás siempre protegid@.</p>
                     </div>

             </article>
                     <div class="p-4-doble">
                           <p>●Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 
                    </div>
        </section>
        
    </main>

</body>
</html>
