<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
</head>

<body>

   <header>
        <img src="images/logo-mercado-liebre.svg" alt="logo-mercado-liebre.svg">

         <nave>
           
             <ul> 
                <p>aca esta la barra de menu</p>

                <li><a href = "#" >ofertas </a></li>
                <li><a href = "#" >tiendas oficiales</a></li>
                <li><a href = "#" >vender</a></li>
                <li><a href = "#" >ayuda</a></li>

             </ul>

             <ul> 
                <p>aca esta la barra de menu secundaria</p>

                <li><a href = "#" >crea tu cuenta </a></li>
                <li><a href = "#" >ingresa</a></li>
                <li><a href = "#" >mis compras</a></li>

             </ul>

        </nave>
    </header>

    <main>

         <section>

                <h2> 
                basado en tu ultima visita
                </h2> 

                <article>

                    <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex"> 
                    <div>

                    <p> $ 6.770 </p>
                    <p> 40% off </p>
                    <h3>Cafetera Moulinex</h3>

                    </div>

                </article>

         </section>

    </main>

</body>
</html>