<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel='stylesheet' href='/css/normalize.css'>
    <link rel='stylesheet' href='/css/login.css'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>

    <title>mercado liebre</title>

</head>

<body>
    <header >
         <div>
            <div class="header-h">
             <img class="img-log" src="images/logo-mercado-liebre.svg" alt="Img-log">
            
             <p class="busqueda"> <input type="text" name="buscar" placeholder="Buscar"> <a class = 'lupa' href='#'> </a><i class="fa-solid fa-magnifying-glass"></i> </p> 

             <h1 class="principal_title"><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de credito </a></h1>     
             <div class="menu" ><a href='#'> <i class="fa-solid fa-bars" style="color: hwb(0 98% 2%);"></i></a></div>
            </div>

            <nav class="nav">
           
               <ul class="ul-left">  
                <li> <a href='#'>Ofertas </a></li>
                <li> <a href='#'>Tiendas oficiales </a></li>
                <li> <a href='#'>Vender </a></li>
                <li> <a href='#'>Ayuda </a></li>
               </ul>

               <ul class="ul-left"> 
                <li><a href="/register"> crea tu cuenta <i class="fa-regular fa-id-card"></i> </a></li>
                <li><a href="/login"> ingresa <i class="fa-solid fa-right-to-bracket"></i> </a></li>
                <li><a href="#"> mis compras <i class="fa-solid fa-basket-shopping"></i> </a></li>
               </ul>

            </nav>
         </div>
    </header>
            <img class="anuncio" src='/images/img-home-banner.jpg' alt="Anuncio">
        <main>
                    <h2 class = 'title-login'> iniciar sesion </h2>
            <div class = "div-login">
                <form class ="form-login">
                    <input class="form-login" type="text" id="usuario" name="usuario" placeholder="Usuario" required>
                    <br>
                    <input class="form-login" type="text" id="password" name="password" placeholder= "Contraseña" required>
                    <br>
                    <a href="/"> <input class = 'enviar-data' type="button" value="Enviar"></a>
                </form>
            </div>
        </main>
            <footer>
                    <section class="section-oferta"> 
                           <div> 
                               <p class="tarjeta"> <i class="fa-solid fa-credit-card" style="color: #0008ff;"></i> </p>
                           </div>
      
                           <div>
                               <h2 class="titulo-barra"> Pagá con tarjeta o en efectivo</h2> 
      
                               <p class = "text-oferta"> Con Mercado Liebre Cash, tenés cuotas sin
                                  interés con tarjeta o efectivo en puntos de
                                   pago.¡Y siempre es seguro!</p>
                           </div>
                    </section>
      
                    <section class="section-oferta">
                           <div> 
                              <p class="regalo-oferta"> <i class="fa-solid fa-gift" style="color: #1d08f5;"></i> </p>
                           </div>
      
                           <div>
                               <h2 class="titulo-barra" >Envío gratis desde $ 2.500</h2> 
         
                               <p class = "text-oferta"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                              productos. Es un beneficio de Mercado Puntos.</p>
                           </div>
                    </section>
      
                    <section class="section-oferta">
                           <div> 
                              <p class="seguriti-oferta"> <i class="fa-solid fa-user-shield" style="color: #0008ff;"></i> </p>
                           </div>
      
                           <div>
                               <h2 class="titulo-barra" >Seguridad, de principio a fin</h2> 
          
                               <p class = "text-oferta" > ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                                porque estás siempre protegid@.</p>
                           </div>
                    </section>
      
                    <section class="section-oferta">
                           <div class="Copyright">
                              <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 
                           </div>
                    </section>
            </footer>
</body>
</html>
      